html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand", sans-serif;
}

h3, p {
    padding: 5px;
}

.center {
    text-align: center;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}